<%- include('../DRY/header.ejs') %>
</head>
<body>
    <form action="/auth/login" method="POST">
        <label for="email">E-mail</label>
        <input id="email "type="email" name="email">
        <label for="password">password</label>
        <input id="password "type="password" name="password">
        <button type="submit">Log ing </button>

    </form>
</body>
</html>