<%- include('../DRY/header.ejs') %>
</head>
<body>
    <form action="/auth/registeration" method="post">
        <label for="email">E-mail</label>
        <input id="email "type="email" name="email">
        <label for="password">password</label>
        <input id="password "type="password" name="password">
        <label for="confirmedpassword">confirm password</label>
        <input id="confirmedpassword "type="password" name="confirmedpassword">
        <button type="submit">Register </button>


    </form>
</body>
</html>