<%- include('../DRY/header.ejs') %>
</head>
<%- include('../DRY/navigation.ejs') %>
<body>
    <h1> welcome in DWN midterm project blog </h1>
    <p>thanks for trying to reach us kindly come back next year hahah</p>

    </body>
    </html>